<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="tags.scss">

    <title>Document</title>
</head>
<body>
    <head>
        <h3>Cristian Guevara</h3>
        <br><br>
        
    </head>

    <main>
        <div class="cheatsheet_section">
            <h5>Cheatsheet</h5>
            <br>
            <h1 class="headline1-desktop">Headline Size 1 - Desktop</h1>
            <h2 class="headline2-desktop">Headline Size 2 - Desktop</h2>
            <h3 class="headline3-desktop">Headline Size 3 - Desktop</h3>
            <h4 class="headline4-desktop">Headline Size 4 - Desktop</h4>
            <h5 class="headline5-desktop">Headline Size 5 - Desktop</h5>
            <h6 class="headline6-desktop">Headline Size 6 - Desktop</h6>
            <br>
            <h1 class="headline1-mobile">Headline Size 1 - Desktop/h1>
            <h2 class="headline2-mobile">Headline Size 2 - Desktop/h2>
            <h3 class="headline3-mobile">Headline Size 3 - Desktop/h3>
            <h4 class="headline4-mobile">Headline Size 4 - Desktop/h4>
            <h5 class="headline5-mobile">Headline Size 5 - Desktop/h5>
            <h6 class="headline6-mobile">Headline Size 6 - Desktop/h6>
            <br>
            <p class="body1-desktop">Paragraph Size 1 - Desktop</p>
            <p class="body2-desktop">Paragraph Size 2 - Desktop</p>
            <p class="body3-desktop">Paragraph Size 3 - Desktop</p>
            <br>
            <p class="body1-mobile">Paragraph Size 1 - Mobile</p>
            <p class="body2-mobile">Paragraph Size 2 - Mobile</p>
            <p class="body3-mobile">Paragraph Size 3 - Mobile</p>
        </div>
    </main>
</body>
</html>