@import './style.scss';

#title_home {
    display: none;
}

#carousel {
    padding: 50px 174px;
    display: flex;
    align-items: center;
}

.container_carousel {

    &_text {
        width: 50%;
        float: left;
    }

    &_img {
        width: 100%;
        float: right;
    }
}

#w_contigo_landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 174px;
}

.card {
    &_desk {
        margin: 50px 0px;
    }

    &_mobile {
        display: none;
    }
}

#product_similar {
    padding: 30px 174px;
    background-color: $color_base_white;
}

.container {

    &_all {
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    &_product_similar {
        width: 18%;
        height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 25px;
        font-size: 31px;
        border-radius: 0% !important;
        background-color: $color_accent_white;
        box-shadow: none !important;

        &_active {
            background: $color_blue2;
            box-shadow: 0px 3.16274px 11.0696px rgba(0, 0, 0, 0.15) !important;
            border-radius: 20px !important;

            &_text {
                display: flex;
                align-items: center;
                text-align: center;
                color: $color_text;
            }
        }

    }

    &_all_products {
        background-color: $color_accent_white;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 20px 28px;
        gap: 50px;
        width: 70%;
        height: 112px;
        border-radius: 20px;
    }
}


#container_product_select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    width: 100%;
    height: 470px;
    background-color: $color_accent_white;
    box-shadow: 0px 3.16604px 11.0812px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}

.product_selected {
    &_img {
        width: 100%;

        &_container {
            width: 43%;
        }
    }

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        padding: 10.2457px;
        gap: 5.12px;
        width: 43%;
        background-color: $color_accent_white;
    }
}

.list_product {
    list-style: disc inside url("marcador.png");
}

#about_profile {
    padding: 30px 174px;

    &_cards {
        display: flex;
        flex-direction: row;
    }
}

.container_cards {
    &_img {
        width: 50%;
        margin-left: -80px;
        float: left;

        &_img {
            width: 100%;
        }
    }

    &_container {
        &_1 {
            display: flex;
            justify-content: space-between;
        }

        &_2 {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
    }

    &_all {
        display: flex;
        width: 55%;
        flex-direction: column;
        float: right;
    }
}

.card_landing {

    &_title {
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px 20px 0px 0px;

        &_orange {
            background-color: $color_orange2;
        }

        &_violet {
            background-color: $color_violet2;
        }

        &_blue {
            background-color: $color_blue2;
        }
    }

    &_body {
        display: flex;
        justify-content: center;
        border-radius: 20px 20px 0px 0px;
    }

    &_text {
        margin-top: 9px;
    }

    &_small {
        width: 255px;
        height: 205px;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin: 20px;
    }

    &_large {
        height: 157px;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

}

#channels_assistance {
    padding: 50px 174px;
}

.channels_container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 254px;
    background: $color_accent_white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    justify-content: center;

    &_channel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 45px;
        margin: 30px;

        &_text {
            width: 129px;
        }
    }

}

.bi {
    &-person-lines-fill {
        color: $color_orange2;
        font-size: 59px;
    }

    &-telephone-fill {
        color: $color_blue1;
    }

    &-phone-fill {
        color: $color_violet2;
    }

    &-geo-alt-fill {
        color: $color_dark_violet1;
    }
}


@media only screen and (max-width: 768px) {

    #title_home {
        display: flex;
        height: 100px;
        padding: 0px 20px;
        align-items: center;
        background-color: $color_orange1;
        color: $color_accent_white;
    }

    #carousel {
        padding: 0px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .container_carousel {
        background-color: white;
        padding: 20px 20px;
        height: 100%;

        &_text {
            margin: 20px 0px;
            width: 100%;
            float: none;
        }

        &_img {
            float: none;

            &_bg {
                background-color: $color_orange3;
            }
        }
    }

    #w_contigo_landing {
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px;
    }

    .card {
        &_desk {
            display: none;
        }

        &_mobile {
            display: flex;
        }
    }

    #product_similar {
        padding: 30px 0px;
        background-color: white;

        & h3 {
            margin: 0px 20px;
        }
    }

    .container {

        &_all {
            display: flex;
            align-items: center;
            margin: 0px;
            flex-direction: column;

            &_products {
                margin-top: 20px;
                background-color: $color_accent_white;
                width: 100%;
                height: 80px;
                padding: 42px 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &_product_similar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            width: 154px;
            height: 42px;
            border-radius: 48px;
            box-shadow: none;
            margin-right: 20px;

            &_active {
                background-color: $color_blue1;
                box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);

                &_text {
                    color: $color_accent_white;
                }
            }

            &_text {
                color: $color_blue1;
            }
        }

    }

    #container_product_select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        float: right;
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: none;
        border-radius: 0px;
    }

    .credit_text {
        color: $color_orange2;
    }

    .product_selected {
        &_img {
            width: 100%;
            float: none;
        }

        &_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            width: 100%;
            height: auto;
            background: white;
            flex: none;
        }
    }

    #about_profile {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;

        &_cards {
            display: flex;
            flex-direction: column;
        }
    }

    .container_cards {
        &_img {
            margin-left: 0px;
            float: left;

            &_img {
                width: 100%;
            }
        }

        &_container {
            &_1 {
                display: flex;
                justify-content: space-between;
            }

            &_2 {
                display: flex;
                flex-direction: column;
                margin: 20px;
            }
        }

        &_all {
            display: flex;
            width: 55%;
            flex-direction: column;
            justify-content: space-between;
            float: none;
        }
    }

    .card_landing {

        &_title {
            height: 182px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0px 0px;

            &_orange {
                background-color: $color_accent_white;
                color: $color_orange2;
            }

            &_violet {
                background-color: $color_accent_white;
                color: $color_violet2;
            }

            &_blue {
                background-color: $color_accent_white;
                color: $color_blue2;
            }
        }

        &_body {
            display: flex;
            justify-content: center;
            border-radius: 20px 20px 0px 0px;
        }

        &_text {
            margin-top: 9px;
        }

        &_small {
            width: 42%;
            height: 182px;
            background: white;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin: 20px;
        }

        &_large {
            height: 157px;
            background: white;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
        }

    }

}