* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  line-height: 120% !important;
}

p {
  margin-bottom: 0px;
}

/*Colors*/
/*Various*/
/*Blue*/
/*Dark Violet*/
/*Violet*/
/*Orange*/
/*Yellow*/
/* Typography */
h1 {
  font-weight: 700;
  font-size: 56px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

.body {
  font-weight: 500;
}
.body_1 {
  font-size: 18px;
}
.body_2 {
  font-size: 16px;
}
.body_3 {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .body {
    font-weight: 500;
  }
  .body_1 {
    font-size: 16px;
  }
  .body_2 {
    font-size: 14px;
  }
  .body_3 {
    font-size: 12px;
  }
}
.text_button_bold {
  font-weight: 600;
  font-size: 20px;
}
.text_button_medium {
  font-weight: 600;
  font-size: 18px;
}
.text_button_small {
  font-weight: 400;
  font-size: 16px;
}

.text_field::-moz-placeholder {
  font-weight: 600;
  font-size: 20px;
}

.text_field::placeholder {
  font-weight: 600;
  font-size: 20px;
}
.text_field_title {
  font-weight: 400;
  font-size: 14px;
}
.text_field_description {
  font-weight: 400;
  font-size: 12px;
}

.btn {
  height: 42px;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}
.btn_large {
  width: 423px;
}
.btn_large_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_large:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_large:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_large_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_large_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_large_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_large_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_large_transparent_active {
  color: #00B1BB;
}
.btn_large_transparent:disabled {
  color: #CDCFD0;
}
.btn_medium {
  display: flex;
  flex-direction: row;
  padding: 9px 29px;
}
.btn_medium_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_medium:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_medium:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_medium_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_medium_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_medium_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_medium_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_medium_transparent_active {
  color: #00B1BB;
}
.btn_medium_transparent:disabled {
  color: #CDCFD0;
}
.btn_small {
  width: 10.7%;
}
.btn_small_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_small:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_small:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_small_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_small_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_small_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_small_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_small_transparent_active {
  color: #00B1BB;
}
.btn_small_transparent:disabled {
  color: #CDCFD0;
}

@media only screen and (max-width: 768px) {
  .btn_large {
    width: 100%;
  }
  .btn_medium {
    width: 75%;
  }
  .btn_small {
    width: 50%;
  }
}
.imagefondo {
  max-width: 328px !important;
}

.fondo-card {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  padding: 35px 40px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 772px;
}
.fondo-card .card_button {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.fondo-card .card_button:hover {
  background-color: #00B1BB;
  color: #F2F2F2;
}
.fondo-card .card_button > h4 {
  font-size: 20px;
  font-weight: 500;
}
.fondo-card .titulo-naranja {
  background-color: #00B1BB;
  width: calc(100% + 80px);
  height: 80px;
  position: relative;
  top: -35px;
  left: -40px;
  margin-bottom: -9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 22px;
}
.fondo-card .titulo-naranja .imagen-inOrange {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.fondo-card .titulo-naranja .usuario-naranja {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FAFAFA;
}
.fondo-card .nombre-usuario {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: -20px;
  margin-left: -20px;
}
.fondo-card .comentario {
  display: flex;
  align-content: center;
  gap: 15px;
  margin-right: -20px;
  margin-left: -20px;
}
.fondo-card .comentario .fondo-comentario {
  width: 90%;
  padding: 9px 23px;
  background-color: #F2F4F5;
  height: auto;
  border-radius: 48px;
}
.fondo-card .comentario .fondo-comentario .parrafo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #979C9E;
}
.fondo-card .comentario .perfil-usuario {
  width: 51px;
  height: 51px;
  border-radius: 100%;
}
.fondo-card .labels-site {
  display: flex;
  gap: 15px;
}
.fondo-card .card-interactions {
  display: flex;
  justify-content: space-between;
  margin-bottom: -35px;
}
.fondo-card .card-interactions .punticos {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 20px;
}
.fondo-card .card-interactions .left {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.fondo-card .card-interactions .left .likes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fondo-card .card-interactions .left .likes * {
  color: #EB3232;
}
.fondo-card .card-interactions .left .comments {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fondo-card .card-interactions .left .comments * {
  color: #707070;
}
.fondo-card .horizontal {
  display: flex;
  align-items: center;
  gap: 25px;
}
.fondo-card .horizontal .arrow {
  margin-left: -10px;
  border: solid #252B42;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.fondo-card .logo-inCard {
  margin-bottom: 10px;
}
.fondo-card .card-imagen {
  margin-top: -35px;
  height: -moz-fit-content;
  height: fit-content;
}
.fondo-card .card-imagen .imagen-inCard {
  position: relative;
  top: 0px;
  left: -40px;
  width: calc(100% + 80px);
  height: auto;
}
.fondo-card .texto-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.fondo-card .texto-card .titulo {
  color: #252B42;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.fondo-card .texto-card .orange-type {
  color: #F25C05;
}
.fondo-card .texto-card .parrafo {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  line-height: 180% !important;
}

.card_horizontal_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 301px;
  background: #FAFAFA;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.card_horizontal_img {
  width: 44.5%;
  height: 301px;
  border-radius: 20px 0px 0px 20px;
}
.card_horizontal_body {
  padding: 33px 55px;
}

.title_row {
  background-color: #8A90B5 !important;
  width: 100%;
  border-radius: 8.84097px 8.84097px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.title_row h4 {
  font-size: 16px;
}

.title_col .title_row2 {
  background-color: #6321A6 !important;
  width: 100%;
  height: auto;
  border-radius: 8.84097px 8.84097px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.title_col .title_row2 h4 {
  font-size: 13px;
}
.title_col .title_col {
  justify-content: space-between;
  width: 100%;
}
.title_col .title_col h4 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.contenedores .row .col.title_col h4 {
  width: 100%;
}

.contenedores {
  width: 100%;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 50px;
  color: #F25C05;
}

.w-100 {
  border-bottom: 1px solid #2D3982;
}

.locura {
  width: 100%;
  margin: 0;
}/*# sourceMappingURL=cardArticle.css.map */