@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../style.scss';

body{
    background-color: #35cbd3;
}

/* ************************************************************************************** */

.navbar-dark .navbar-nav .nav-link {
  color: $color_orange1 !important;
}
//BreadCrumb
#bread_lv{
    &1::after{
        content: "Inicio";
        color: #6321A6;
    }
    &2::after{
        content: "Mi perfil W";
        color: #6321A6;
    }
    &3::after{
        content: "Giros Internacionales";
        color: #6321A6;
        font-weight: bold;
    }
}
.breadcrumb-item span{
    display: none;
}

#bread_title{
    &::after{
        content: "Giros Internacionales";
        color: #F25C05;
    }
    span{
        display: none;
    }
}

.headerLabel {
   /*  margin-top: 20px;
    margin-bottom: 20px; */
    
    width: 50%;
    height: 54px;
    background-color: #FF8826;
    border-radius: 10px;
    padding: 10px;
}

.textHeaderLabel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F2F4F5;
}

.giros-sontainer-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* CONFIGURACIÓN DEL CONTAINER */

.label-user-giros{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: $color_base_gray;
}

.sublabel-user-giros {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_base_gray;

    margin-left: 20px;
}

.sublabel-user-giros-purple {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_violet1;

    margin-left: 20px;
}

.sublabel-user-giros-proceso {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_warning;

    margin-left: 20px;
}

.sublabel-user-giros-finalizado {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_success;

    margin-left: 20px;
}

.sublabel-user-giros-cancelado {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_error;

    margin-left: 20px;
}

.user-giros-container {
    background-color: #F8F8F8;
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 14px #E4D4ED;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .user-giros-head {
    background-color: #6321A6;
    padding: 10px 30px 1px;
  }
  .user-giros-head h5 {
    color: #F2F2F2;
  }
  .user-giros-body {
    padding: 20px;
  }

  .user-giros-firstInfo{
    display: flex;
    flex-direction: column;
  }

  .user-giros-secondInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .purple{
    color: $color_violet1;
  }

  .user-giros-secondInfo-especific{
    margin-top: 20px;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
  }

  .user-giros-body h3 {
        color: #6321A6;
  }
  .user-giros-data {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
  }
  .user-giros-data-item {
    margin-right: 50px;
  }

  .separator {
    margin-top: 20px;
    border-bottom: 1px solid #BA93D2;
  }


/* CONFIGURACIÓN MEDIA QUERY */

@media only screen and (max-width: 768px) {


  .label-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .textHeaderLabel {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #F2F4F5;
  }

  .headerLabel {
      width: 100%;
      height: 44px;
      background-color: $color_orange1;
      border-radius: 10px;
      padding: 10px;
      
  }

  .giros-sontainer-section{

    background-color: #35cbd3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
  }

  .user-giros-container {

    margin-left: 20px;

    background-color: #F8F8F8;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 14px #E4D4ED;
    
  }

  .label-user-giros{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: $color_base_gray;
  }

  .sublabel-user-giros {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $color_base_gray;

    margin-left: 20px;
  }

  .sublabel-user-giros-purple {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: $color_violet1;

    margin-left: 20px;
  }

  .sublabel-user-giros-proceso {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $color_warning;

    margin-left: 20px;
  }

  .sublabel-user-giros-finalizado {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $color_success;

    margin-left: 20px;
  }

  .sublabel-user-giros-cancelado {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $color_error;

    margin-left: 20px;
  }

  
}