@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #35cbd3;
}

$color_text: #27262C;
$color_text_disable: #979C9E;
$color_base_white: #F2F2F2;
$color_accent_white: #F8F8F8;
$color_base_gray: #27262C;
$color_accent_black: #000000;
$color_gray_btn: #CDCFD0;
$color_error: #EB3232;
$color_errorBorder: #FF5247;
$color_greyBorder: #d3d3d3;
$color_greyBorder: #D3D3D3;
$color_warning: #FDA624;
$color_success: #2DC071;
$fill_success: rgba(45, 192, 113, 0.2);
$fill_error: rgba(235, 50, 50, 0.2);
$fill_generic: rgba(0, 177, 187, 0.2);
$fill_input: #F4F4F4;
$fill_disabled: #E3E5E5;


/*Blue*/
$color_blue1: #00B1BB;
$color_blue2: #2FD9DE;
$color_blue3: #BDF0F2;

/*Dark Violet*/
$color_dark_violet1: #2D3982;
$color_dark_violet2: #535C97;
$color_dark_violet3: #8A90B5;
$color_dark_violet4: #C3C5D4;

/*Violet*/
$color_violet1: #6321A6;
$color_violet2: #8E50B7;
$color_violet3: #BA93D2;
$color_violet4: #E4D4ED;

/*Orange*/
$color_orange1: #F25C05;
$color_orange2: #FF8826;
$color_orange3: #FFB67D;

/*Yellow*/
$color_yellow1: #e3ff0b;


/* Typography */

h1 {
    font-weight: 700;
    font-size: 56px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


/* ************************************************************************************** */
 

//BreadCrumb
#bread_lv{
    &1::after{
        content: "Inicio";
        color: #6321A6;
    }
    &2::after{
        content: "Comunidad W";
        color: #6321A6;
    }
    &3::after{
        content: "W Contigo";
        color: #6321A6;
        font-weight: bold;
    }
}
.breadcrumb-item span{
    display: none;
}

#bread_title{
    &::after{
        content: "Giros Internacionales";
        color: #F25C05;
    }
    span{
        display: none;
    }
}