@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #35cbd3;
}

$color_text: #27262C;
$color_text_disable: #979C9E;
$color_base_white: #F2F2F2;
$color_accent_white: #F8F8F8;
$color_base_gray: #27262C;
$color_accent_black: #000000;
$color_gray_btn: #CDCFD0;
$color_error: #EB3232;
$color_errorBorder: #FF5247;
$color_greyBorder: #d3d3d3;
$color_greyBorder: #D3D3D3;
$color_warning: #FDA624;
$color_success: #2DC071;
$fill_success: rgba(45, 192, 113, 0.2);
$fill_error: rgba(235, 50, 50, 0.2);
$fill_generic: rgba(0, 177, 187, 0.2);
$fill_input: #F4F4F4;
$fill_disabled: #E3E5E5;


/*Blue*/
$color_blue1: #00B1BB;
$color_blue2: #2FD9DE;
$color_blue3: #BDF0F2;

/*Dark Violet*/
$color_dark_violet1: #2D3982;
$color_dark_violet2: #535C97;
$color_dark_violet3: #8A90B5;
$color_dark_violet4: #C3C5D4;

/*Violet*/
$color_violet1: #6321A6;
$color_violet2: #8E50B7;
$color_violet3: #BA93D2;
$color_violet4: #E4D4ED;

/*Orange*/
$color_orange1: #F25C05;
$color_orange2: #FF8826;
$color_orange3: #FFB67D;

/*Yellow*/
$color_yellow1: #e3ff0b;


/* Typography */

h1 {
    font-weight: 700;
    font-size: 56px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


/********************************************* Tipografia importada del css de Andrea *****************************************/
.headline-profilePicture {
    column-width: 20%;
}


.textHeaderLabel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F2F4F5;
}

.headerLabel {
    width: 50%;
    height: 54px;
    background-color: #FF8826;
    border-radius: 10px;
    padding: 10px;
}

.headline3-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}



.user-product-container{
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
}

.informacionSection{
    margin-left: 30px;
}

.user-product-body{
    padding: 15px 25px 0;
}

.user-product-data{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editButton {
    padding: 10px 20px 10px 20px;
    background-color: #00B1BB;
    border-radius: 30px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #fff; 
}

.labelProfileImg {
    width: 100px;
    height: 100px;
}

.columnButton {
    justify-content: flex-end;
}

.profilePicture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informationLabel {
    margin-left: 40px;
}


/* ------------------------------------------------------------------- */
/* SECOND INFO CONTAINER INFO */

.container-personal-info-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personal-info-container {
    background-color: #ffffff;
    padding: 25px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
}

.personal-info-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;

}

.default-tittle-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: $color_text_disable;
}

.response-tittle-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color_text;
}

.user-personal-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
}

.first-column-personal-info{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.second-column-personal-info{
    display: flex;
    flex-direction: column;
}



