.sidebar-container{
    height: 80vh;
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bread_lv{
    &1::after{
        content: "hola";
    }
    &2::after{
        content: "Nivel 2";
    }
    &3::after{
        content: "Nivel 3";
    }
}
.breadcrumb-item span{
    display: none;
}

#bread_title{
    &::after{
        content: "Tus Productos";
    }
    span{
        display: none;
    }
}

