@import '../../style.scss';

/*CONFIG GAMIFICACION*/
.navbar-dark .navbar-nav .nav-link {
    color: $color_orange1 !important;
}

.headerLabel {
    /* margin-top: 20px;
    margin-bottom: 20px; */

    color: $color_accent_white;
    width: 100%;
    padding-right: 5%;
    height: 54px;
    background-color: #FF8826;
    border-radius: 10px;
    padding: 10px;
}

.info_profile{
    background-color: $color_blue3;
    margin-top: 5%;
    align-items: center;
    width: 800px;
    height: 141px;
    border-radius: 10.057px;
    justify-content: center;
    display: flex;
}

.user-profile-image{
    margin-right: 400px;
}
.coin-w{
    width: 100%;
}

.proximos-retos{
    background-color: #FFE2CC;
    border-radius: 10px;
    width: 100%;
    height: 816px;
    margin-right: 200px !important;
    
}
.btn-reto{
    background-color: $color_accent_white !important;
    margin: 5%;
    width: 90% !important;
    height: 70px;
    box-shadow: 0px 2.71245px 9.49356px rgba(0, 0, 0, 0.15);
    border-radius: 8.77778px !important;
    
}


.progress-images {
    display: flex;
    justify-content: space-between;
    height: auto !important;
    margin-top: 10px;

}

.progress-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.progress-image img {
    width: 50%;
    
}

.progress-image span {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

.progress-bar{
    background-color: $color_blue2 !important;
    z-index: 1;
} 

.card-promedio{
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: $color_accent_white;
}






























/*****************************************************************************/
