* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  line-height: 120% !important;
}

/*Colors*/
/*Various*/
/*Blue*/
/*Dark Violet*/
/*Violet*/
/*Orange*/
/*Yellow*/
/* Typography */
h1 {
  font-weight: 700;
  font-size: 56px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

.body {
  font-weight: 500;
}
.body_1 {
  font-size: 18px;
}
.body_2 {
  font-size: 16px;
}
.body_3 {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .body {
    font-weight: 500;
  }
  .body_1 {
    font-size: 16px;
  }
  .body_2 {
    font-size: 14px;
  }
  .body_3 {
    font-size: 12px;
  }
}
.text_button_bold {
  font-weight: 600;
  font-size: 20px;
}
.text_button_medium {
  font-weight: 600;
  font-size: 18px;
}
.text_button_small {
  font-weight: 400;
  font-size: 16px;
}

.text_field::-moz-placeholder {
  font-weight: 600;
  font-size: 20px;
}

.text_field::placeholder {
  font-weight: 600;
  font-size: 20px;
}
.text_field_title {
  font-weight: 400;
  font-size: 14px;
}
.text_field_description {
  font-weight: 400;
  font-size: 12px;
}

.btn {
  height: 42px;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}
.btn_large {
  width: 29.4%;
}
.btn_large:active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_large:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_large:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_large_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_large_outline:active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_large_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_large_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_large_transparent:active {
  color: #00B1BB;
}
.btn_large_transparent:disabled {
  color: #CDCFD0;
}
.btn_medium {
  width: 19.1%;
}
.btn_medium:active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_medium:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_medium:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_medium_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_medium_outline:active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_medium_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_medium_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_medium_transparent:active {
  color: #00B1BB;
}
.btn_medium_transparent:disabled {
  color: #CDCFD0;
}
.btn_small {
  width: 10.7%;
}
.btn_small:active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_small:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_small:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_small_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_small_outline:active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_small_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_small_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_small_transparent:active {
  color: #00B1BB;
}
.btn_small_transparent:disabled {
  color: #CDCFD0;
}

@media only screen and (max-width: 768px) {
  .btn_large {
    width: 22.71%;
  }
}
.fondo-card {
  background-color: white;
  width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  padding: 35px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.fondo-card_titulo-naranja {
  background-color: #FF8826;
  width: calc(100% + 80px);
  height: 80px;
  position: relative;
  top: -35px;
  left: -40px;
  margin-bottom: -9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 22px;
}
.fondo-card_imagen-inOrange {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.fondo-card_usuario-naranja {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #F8F8F8;
}
.fondo-card_nombre-usuario {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: -20px;
  margin-left: -20px;
}
.fondo-card_comentario {
  display: flex;
  align-content: center;
  gap: 15px;
  margin-right: -20px;
  margin-left: -20px;
}
.fondo-card_fondo-comentario {
  width: 90%;
  padding: 9px 23px;
  background-color: #F2F4F5;
  height: auto;
  border-radius: 48px;
}
.fondo-card_parrafo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #979C9E;
}

.perfil-usuario {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  margin: 0px 30px;
}
.perfil-usuario_labels-site {
  display: flex;
  gap: 15px;
}
.perfil-usuario_card-interactions {
  display: flex;
  justify-content: space-between;
  margin-bottom: -35px;
}
.perfil-usuario_punticos {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 20px;
}
.perfil-usuario_left {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.perfil-usuario_likes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil-usuario_likes * {
  color: #EB3232;
}
.perfil-usuario_comments {
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil-usuario_comments * {
  color: #707070;
}
.perfil-usuario_horizontal {
  display: flex;
  align-items: center;
  gap: 25px;
}
.perfil-usuario_horizontal_arrow {
  margin-left: -10px;
  border: solid #252B42;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.perfil-usuario_logo-inCard {
  margin-bottom: 10px;
}
.perfil-usuario_card-imagen {
  margin-top: -35px;
  height: -moz-fit-content;
  height: fit-content;
}
.perfil-usuario_card-imagen_imagen-inCard {
  position: relative;
  top: 0px;
  left: -40px;
  width: calc(100% + 80px);
  height: auto;
}
.perfil-usuario_texto-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.perfil-usuario_titulo {
  color: #252B42;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.perfil-usuario_orange-type {
  color: #F25C05;
}
.perfil-usuario_parrafo {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  line-height: 180% !important;
}

.w_card_history {
  width: 350px;
  background: #FEFEFE;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  margin: 30px 0px;
  border-radius: 20px;
}

.card_history_title {
  background-color: #FF8826;
  width: 350px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 22px;
  border-radius: 20px 20px 0px 0px;
}

.image_history {
  width: 100%;
}

.w_card_body {
  padding: 24px 40px;
  color: #27262C;
}

#container_reacts {
  display: flex;
  margin-top: -20px;
  padding: 0px 40px 20px;
  flex-direction: row;
  justify-content: space-between;
}

.icon_card_history {
  color: #27262C;
}

.react_number {
  display: flex;
  flex-direction: row;
}

#container_count_reacts {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=cardArticle.css.map */