<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!--

    <card-simple recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-simple>

    <card-orange boton="medium active" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during"
        recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-orange>

    <card-boton boton="medium active" recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-boton>

    <card-imagen boton="medium active" recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-imagen>

    <mini-card recurso="./imageToreplceLater.svg" titulo="Breve título"></mini-card>

    <card-forblog boton="medium active" recurso="./placeholder.png" titulo="Breve título"
    contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-forblog>
 
    <card-comentario name=" Aurora Chávez " recurso="./placeholder.png" titulo="Breve título"
    contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-comentario>


    
-->
    <card-comentario name=" Aurora Chávez " recurso="./placeholder.png" titulo="Breve título"
    contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-comentario>

    <card-blogdetalle name=" Aurora Chávez " userprofile="./placeholder.png" boton="medium active" recurso="./placeholder.png" titulo="Breve título"
    contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-blogdetalle>
 



</body>


<footer>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <script src="cardArticle.js"></script>

    <link rel="stylesheet" href="cardArticle.css">
    <link rel="stylesheet" href="/landing.scss">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</footer>

</html>