@import '../../style.scss';

#share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 6.39% 50px 12%;
}

.container_text_btn {
    display: flex;
    flex-direction: column;
    width: 50%;

    & h1 {
        width: 100%;
        margin: 0px;
    }

    & p {
        margin: 35px 0px;
        width: 90%;
    }
}

.img_share {
    width: 45%;

    &_mobile {
        display: none;
    }
}

#ours_labels {
    padding: 0px 12%;
    margin: 120px 0px;

    &_card {
        display: none;
    }

    & i {
        font-size: 55px;
    }
}

.container_labels {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

    &_info {
        width: 25.25%;
        font-size: 50px;
        text-align: center;

        & h5 {
            margin: 25px 0px;
        }
    }
}

.bi {
    &-people {
        color: $color_orange1;
    }

    &-graph-up {
        color: $color_blue1;
    }

    &-emoji-smile {
        color: $color_violet1;
    }
}

#filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_base_white;
    padding: 45px 12%;
}

#w_articles {
    padding: 85px 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {

    &_all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &_eachCard {
        width: 30%;
    }
}

.btn_mas {
    display: flex;
    justify-self: center;
    margin-top: 50px;
}

#w_card {
    padding: 45px 12% 200px 12%;

    &_mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;

    }

    #share {
        display: flex;
        flex-direction: column-reverse;
        padding: 35px 5%;
        order: 1;

        & h1 {
            width: 100%;
        }
    }

    .img_share {
        display: none;

        &_mobile {
            display: flex;
            width: 100%;
            margin-top: -20px;
        }
    }

    .container_text_btn {
        flex-direction: column;
        gap: 20px;
        padding: 0%;
        width: 100%;
        margin-right: 0px;

        & h1 {
            width: 90% !important;
            margin: 0px;
        }

        & p {
            margin: 10px 0px;
            width: 100%;
        }
    }

    #filter_container {
        order: 2;
        background-color: $color_accent_white;
        padding: 20px 5.2%;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    }

    .btn_tag {
        display: none !important;
    }

    #w_articles {
        flex-direction: column;
        padding: 20px 5.2%;
        order: 3;

        &_all {
            order: 3;
            background-color: $color_blue3;
        }
    }

    .container {

        &_eachCard {
            width: 100%;
        }
    }

    #btn_mas {
        margin: 40px 0px;
    }

    #w_card {
        order: 4;
        padding: 0px 5.2%;
        margin: 50px 0px;

        &_desk {
            display: none;
        }

        &_mobile {
            display: inline;
        }
    }

    #ours_labels {
        order: 5;
        padding: 0px 5.2%;
        margin: 0px;

        &_title {
            display: none;
        }

        &_card {
            display: block;
            margin-bottom: 50px;
        }
    }

    .container_labels {
        display: none;
    }

    footer {
        order: 6;
    }

    .breadcrumb_section {
        margin: 15px 5.2%;
    }

}


//----------------------------------Vista historia--------------------------

main {
    padding: 65px 12%;

    & i {
        color: $color_accent_black;
        font-size: 24px;
    }

    & #circle_orange {
        display: none;
    }
}

#card_storie {
    margin: 60px 0%;
    display: flex;
}

.card {

    &_complete {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        color: $color_accent_white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        & .desk {
            width: 45%;
            border-radius: 20px 0px 0px 20px;

        }

        & .mobile {
            display: none;
        }
    }

    &_head {
        display: none;
    }

    &_body {
        padding: 40px 4% 20px 4%;

        &_mb {
            display: none;
        }

        & h2 {
            color: $color_text;
        }

        & p {
            color: $color_text;
        }

        & hr {
            color: $color_base_gray;
        }

        & .body_3 {
            margin-top: 20px;
        }
    }

    &_comment {
        display: flex;
        width: 100%;
        height: auto;
        padding: 15px 0%;
        flex-direction: row;
        align-items: center;
        gap: 3%;

        & img {
            width: 50px;
            height: 50px;
        }

        &_example {
            width: 85%;
            height: auto;
            padding: 10px 4%;
            background: $fill_input;
            border-radius: 48px;

            & p {
                color: $color_text_disable;
            }
        }
    }

    &_react {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        gap: 15% !important;

        & .red {
            color: $color_error;
            cursor: pointer;
        }

        & .black {
            color: $color_accent_black;
        }
    }

    &_actions {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.inputComments {
    width: 65% !important;
}

#stories {
    padding: 100px 0%;
}

#labels {
    display: none;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 65px 5.2%;

        & i {
            color: $color_accent_black;
            font-size: 24px;
        }

        & #circle_orange {
            display: flex;
            width: 110.4%;
            margin-top: -94px;
            margin-left: -5.2%;
        }

    }

    .arrow_change {
        position: absolute;
        left: 5.2%;
        top: 170px;

        & i {
            color: $color_accent_white;
        }
    }

    #card_storie {
        margin-top: -245px;
        margin-bottom: 30px;
        display: flex;
    }

    .card {

        &_complete {
            flex-direction: column;

            & .desk {
                display: none;
            }

            & .mobile {
                display: block;
            }
        }

        &_head {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $color_blue1;
            padding: 25px 6%;
            gap: 6%;
            border-radius: 20px 20px 0px 0px;

            & img {
                width: 46px;
                height: 46px;
            }

            & h4 {
                margin: 0%;
                color: $color_accent_white;
            }
        }

        &_body {
            display: none;


            &_mb {
                display: flex;
                flex-direction: column;
                padding: 25px 6%;
                gap: 20px;

                & h2 {
                    color: $color_text;
                    margin: 0%;
                }

                & p {
                    color: $color_text;
                }
            }

        }

        &_comment {
            display: flex;
            width: 100%;
            height: auto;
            padding: 15px 0%;
            flex-direction: row;
            align-items: center;
            gap: 3%;

            & img {
                width: 50px;
                height: 50px;
            }

            &_example {
                width: 85%;
                height: auto;
                padding: 10px 4%;
                background: $fill_input;
                border-radius: 48px;

                & p {
                    color: $color_text_disable;
                }
            }
        }

        &_actions {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 12%;
        }
    }

    .grayInput {
        width: 65% !important;
    }

    #stories {
        display: none;
    }

    #labels {
        display: block;
        padding: 20px 5.2% 60px 5.2%;
    }

    #w_card_s {
        padding: 20px 5.2%;
    }
}

#banner_bg {

    & img {
        width: 100%;
        margin-top: -25px;
    }

    & a {
        text-decoration: none;

        & i {
            position: absolute;
            font-size: 16px;
            left: 6%;
            top: 199px;
        }
    }

    & h1 {
        position: absolute;
        width: 95%;
        height: auto;
        left: 6%;
        top: 230px;
        color: $color_accent_white;
    }
}

#label_card {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    width: 100%;
    height: auto;
    background: $color_accent_white;
    border-radius: 20px;
    padding: 30px 6%;
    gap: 50px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);

}

.label {

    &_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        & h3 {
            margin: 0%;
        }

        & i {
            font-size: 50px;
            margin-bottom: -10px;
        }
    }
}

#image_circle {
    background-image: url('./img/circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    order: 3;
}