@charset "UTF-8";
#bannerTop {
  display: flex;
  size: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

.separar-cards {
  scroll-margin-top: 150px !important;
}

.marginis {
  flex: 0 0 50%;
}

#CTAText {
  padding: 10%;
  /* font-family: 'Montserrat', sans-serif;
    font-weight: bold; */
}

#CTAimg {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  #bannerTop {
    display: block;
    size: 100%;
    padding: 0;
  }
  #CTAText {
    font-size: 16px;
  }
  #CTAimg {
    width: 100%;
  }
  .marginis {
    flex: 0 0 100%;
  }
}
#cardsInfoCDT {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#menuLateral {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

#cardsInfo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

