/*Colors*/
/*Various*/
$color_text: #27262C;
$color_text_disable: #979C9E;
$color_base_white: #F2F2F2;
$color_accent_white: #F8F8F8;
$color_base_gray: #27262C;
$color_accent_black: #000000;
$color_gray_btn: #CDCFD0;
$color_error: #EB3232;
$color_errorBorder: #FF5247;
$color_greyBorder: #D3D3D3;
$color_warning: #FDA624;
$color_success: #2DC071;
$fill_success: rgba(45, 192, 113, 0.2);
$fill_error: rgba(235, 50, 50, 0.2);
$fill_generic: rgba(0, 177, 187, 0.2);
$fill_input: #F4F4F4;
$fill_disabled: #E3E5E5;


/*Blue*/
$color_blue1: #00B1BB;
$color_blue2: #2FD9DE;
$color_blue3: #BDF0F2;

/*Dark Violet*/
$color_dark_violet1: #2D3982;
$color_dark_violet2: #535C97;
$color_dark_violet3: #8A90B5;
$color_dark_violet4: #C3C5D4;

/*Violet*/
$color_violet1: #6321A6;
$color_violet2: #8E50B7;
$color_violet3: #BA93D2;
$color_violet4: #E4D4ED;

/*Orange*/
$color_orange1: #F25C05;
$color_orange2: #FF8826;
$color_orange3: #FFB67D;

/*Yellow*/
$color_yellow1: #e3ff0b;


/* Typography */

h1 {
    font-weight: 700;
    font-size: 56px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    font-weight: 600;
    font-size: 18px;
}

/* CONFIGURACION DE LOS INPUTS */
.form-control {
    width: 423px;
    height: 42px;
    border-radius: 48px;

    background-color: $fill_success;
    border-color: $color_success;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $color_base_gray;
    
    
    &:focus{
        background-color: $fill_success;
        border-color: $color_success;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

}
.btn {
    width: 60px; height: 42px; 
    background-color: #00B1BB; 
    border: none; 
    border-radius: 0px 22px 22px 0px;

    &:focus{
        font-weight: 400;
    }
}

#searchInput {
    height: 44px; 
    border: none; 
    background-color: #EEEEEE;
}

#basicRed {
    background-color: $fill_error;
    border-color: $color_errorBorder;
}

#basicGrey {
    background-color: $fill_input;
    border-color: $color_greyBorder;
}

.labelGreenInput {
    font-family: 'Montserrat', sans-serif;
}

.smallGreenLabel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $color_success;
}

.labelRedInput {
    font-family: 'Montserrat', sans-serif;
}

.smallRedLabel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $color_error;
}

.smallGreyLabel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: color_text_disable;
}