@import '../style.scss';

#share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 6.39% 50px 12%;
}

.container_text_btn {
    display: flex;
    flex-direction: column;
    width: 50%;

    & h1 {
        width: 100%;
        margin: 0px;
    }

    & p {
        margin: 35px 0px;
        width: 90%;
    }
}

.img_share {
        width: 45%;

        &_mobile {
            display: none;
        }
}

#ours_labels {
    padding: 0px 12%;
    margin: 120px 0px;

    &_card {
        display: none;
    }

    & i {
        font-size: 55px;
    }
}

.container_labels {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

    &_info {
        width: 25.25%;
        font-size: 50px;
        text-align: center;

        & h5 {
            margin: 25px 0px;
        }
    }
}

.bi {
    &-people {
        color: $color_orange1;
    }

    &-graph-up {
        color: $color_blue1;
    }

    &-emoji-smile {
        color: $color_violet1;
    }
}

#filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_base_white;
    padding: 45px 12%;
}

#w_articles {
    padding: 85px 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {

    &_all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; 
    }

    &_eachCard {
        width: 30%;
    }
}

.btn_mas {
    display: flex;
    justify-self: center;
    margin-top: 50px;
}

#w_card {
    padding: 45px 12% 200px 12%;

    &_mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;

    }

    #share {
        display: flex;
        flex-direction: column-reverse;
        padding: 35px 5%;
        order: 1;

        & h1 {
            width: 100%;
        }
    }

    .img_share {
        display: none;

        &_mobile {
            display: flex;
            width: 100%;
            margin-top: -20px;
        }
    }

    .container_text_btn {
        flex-direction: column;
        gap: 20px;
        padding: 0%;
        width: 100%;
        margin-right: 0px;
        
        & h1 {
            width: 90% !important;
            margin: 0px;
        }
    
        & p {
            margin: 10px 0px;
            width: 100%;
        }
    }

    #filter_container {
        order: 2;
        background-color: $color_accent_white;
        padding: 20px 5.2%;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    }

    .btn_tag {
        display: none !important;
    }

    #w_articles {
        flex-direction: column;
        padding: 20px 5.2%;
        order: 3;

        &_all {
            order: 3;
            background-color: $color_blue3;
        }
    }

    .container {

        &_eachCard {
            width: 100%;
        }
    }

    #btn_mas {
        margin: 40px 0px;
    }

    #w_card {
        order: 4;
        padding: 0px 5.2%;
        margin: 50px 0px;

        &_desk {
            display: none;
        }

        &_mobile {
            display: inline;
        }
    }

    #ours_labels {
        order: 5;
        padding: 0px 5.2%;
        margin: 0px;

        &_title{
            display: none;
        }

        &_card {
            display: block;
            margin-bottom: 50px;
        }
    }
    
    .container_labels {
        display: none;
    }

    footer {
        order: 6;
    }

    .breadcrumb_section {
        margin: 15px 5.2%;
    }


}