@import '../style.scss';


#bread_lv {
    &1::after {
        content: "Inicio";
    }

    &2::after {
        content: "Comunidad W";
    }

    &3::after {
        content: "W Contigo";
    }
}

.breadcrumb-item span {
    display: none;
}

#bread_title {
    &::after {
        content: "W Contigo";
    }

    span {
        display: none;
    }
}

.breadcrumb_section {
    margin: 15px 12%;
}

#detail_view {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: $color_orange2;
    padding: 40px 5.2%;
    color: white;
    gap: 20px;

    & h1 {
        text-align: left;
    }
}

form {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

.tittle-in-form {
    background-color: $color_blue1;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

.card_tittle_form {
    color: #FFFFFF;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

.card {
    margin: -90px 5.2%;
    width: 90%;
    border-radius: 48px;
    padding: 0px !important;
}

textarea {
    width: 310px;
    height: 42px;
    border-color: #D3D3D3;
    background-color: #F4F4F4;
    border-radius: 48px;
    resize: none;
    padding: 10px;
    font-size: 18px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container .checkmark {
    display: inline-block;
    background-color: #F2F4F5;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-container .checkmark.active {
    background-color: #2DC071;
    border-color: #2DC071;
}

.checkbox-container label {
    font-size: 14px;
    color: #555555;
}

.terms-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ours_labels {
    margin-top: 100px;
    padding: 0px 12%;

    &_card {
        display: none;
    }
}

.container_labels {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

    &_info {
        width: 25.25%;
        font-size: 50px;
        text-align: center;

        & h5 {
            margin: 25px 0px;
        }
    }
}

.bi {
    &-people {
        color: $color_orange1;
    }

    &-graph-up {
        color: $color_blue1;
    }

    &-emoji-smile {
        color: $color_violet1;
    }
}

@media (max-width: 768px) {
    form {
        width: 90%;
    }

    #ours_labels {
        padding: 0px 5.2%;

        &_title {
            display: none;
        }

        &_card {
            display: block;
            margin-bottom: 50px;
        }
    }

    .container_labels {
        display: none;
    }
}