@import '../style.scss';


#bread_lv {
    &1::after {
        content: "Inicio";
    }

    &2::after {
        content: "Comunidad W";
    }

    &3::after {
        content: "W Contigo";
    }
}

.breadcrumb-item span {
    display: none;
}

#bread_title {
    &::after {
        content: "W Contigo";
    }

    span {
        display: none;
    }
}

.breadcrumb_section {
    margin: 15px 12%;
}

header {
    width: 100%;
}

#detail_view {
    height: 190px;
    background-color: $color_orange2;
    padding: 40px 0px;
}

.infocard {
    width: 100%;
    margin-top: -125px;
    padding: 0px 5.2%;
}

#comments {
    padding: 50px 5.2%;
}

#btn_mas {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#ours_labels {
    padding: 0px 12%;

    &_card {
        display: none;
    }
}

.container_labels {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

    &_info {
        width: 25.25%;
        font-size: 50px;
        text-align: center;

        & h5 {
            margin: 25px 0px;
        }
    }
}

.bi {
    &-people {
        color: $color_orange1;
    }

    &-graph-up {
        color: $color_blue1;
    }

    &-emoji-smile {
        color: $color_violet1;
    }
}

#w_card {
    padding: 20px 12%;
    margin: 100px 0px;

    &_mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #w_card {
        order: 4;
        padding: 0px 5.2%;
        margin: 50px 0px;

        &_desk {
            display: none;
        }

        &_mobile {
            display: inline;
        }
    }

    #ours_labels {
        order: 5;
        padding: 0px 5.2%;

        &_title {
            display: none;
        }

        &_card {
            display: block;
            margin-bottom: 50px;
        }
    }

    .container_labels {
        display: none;
    }

}